<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Groups</h1>
  </div>

  <div id="groups" class="min-w-full">
    <% if @groups.empty? %>
      <p>No categories available</p>
    <% else %>
        <% @groups.each do |group| %>
          <div>
            <%= link_to user_transaction_path(current_user.id, group.id) do %>
              <p class="my-5">
                <strong class="block font-medium mb-1">Name:</strong>
                <%= group.name %>
              </p>
              <p class="my-5">
                <strong class="block font-medium mb-1">Icon:</strong>
                <%= image_tag group.icon_url if group.icon %>
              </p>

              <% if action_name != "show" %>
                <%= link_to "Show this group", user_group_path(current_user, group), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
                <hr class="mt-6">
              <% end %>
            <% end %>
          </div>
        <% end %>
    <% end %>
  </div>

  <%= link_to 'New group', new_user_group_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

</div>
