<div class="login-form">
  <div class="login-form-header">
    <p class="arrow-left">
      <%= link_to root_path do %>
        <%= image_tag("arrow-left-2.png", :alt => "Left arrow") %>
      <% end %>
    </p>
    <h3>LOGIN</h3>
    <p>Log in</p>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%=
        f.email_field :email, autofocus: true, autocomplete: "email",
        placeholder: 'Email'
      %>
    </div>

    <div class="field">
      <%=
        f.password_field :password, autocomplete: "current-password",
        placeholder: 'Password'
      %>
    </div>

    <div class="field">
      <%= f.submit :Login %>
    </div>

  <% end %>
  
  <div class="forgot-password">
    <%= render "devise/shared/links" %>
  </div>
</div>
